html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: 'McLaren', cursive;
    background: #ccc;
    position: relative;
}

.header {
    background: gold;
    color: white;
    padding: 1rem;
}

.appTitle {
    margin: auto auto auto 3rem;
}

.form {
    position: relative;
    width: 48rem;
    margin: 3rem auto 2rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 0.1rem 0.5rem rgb(138, 137, 137);
}

.form input,
.form textarea {
    width: 100%;
    border: none;
    padding: 0.4rem;
    outline: none;
    font-size: 2rem;
    font-family: inherit;
    resize: none;
}

.btn {
    position: absolute;
    right: 1.8rem;
    bottom: -1.8rem;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.mainArea {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    min-height: calc(100vh - 39.6rem);
}

.noteCard {
    height: fit-content;
    width: 20.8%;
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 3rem;
    border-radius: 4%;
    background: white;
    position: relative;
}

.deleteBtn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border: none;
    outline: none;
    color: red;
}

.copyRight {
    text-align: center;
    height: fit-content;
    width: 100%;
    margin-top: 3rem;
    color: white;
}